@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

//- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
//- Weights: 400, 700

$fonts: (
  ff: #{"Josefin Sans, Sans Serif"},
  regular: 400,
  bold: 700,
);
